<launch>
  <arg name="device_index"          default="" />
  <arg name="sensor_frame_id"       default="respeaker_base" />
  <arg name="enable_speech_to_text" default="false" />

  <node name="respeaker_node" pkg="respeaker_ros" type="respeaker_node.py" output="screen">
    <param name="device_index"    value="$(arg device_index)" />
    <param name="sensor_frame_id" value="$(arg sensor_frame_id)" />
  </node>

  <group if="$(arg enable_speech_to_text)">
    <node name="speech_to_text" pkg="respeaker_ros" type="speech_to_text.py">
      <remap from="audio" to="speech_audio"/>
      <rosparam>
        language: en-US
        self_cancellation: true
        tts_tolerance: 0.5
      </rosparam>
    </node>
  </group>
</launch>
